<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TimeStampAPI</title>
  </head>
  <body>
    <section class="block block--white">
      <div class="container">
        <div class="date-group date-unix">
          <h2>UNIX DATE</h2>
          <p id="unix-val"></p>
        </div>
        <div class="date-group date-UTC">
          <h2>UTC DATE</h2>
          <p id="utc-val"></p>
        </div>
      </div>
    </section>
  </body>
</html>
