<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/style.css" />

    <title>Document</title>
  </head>
  <body>
    <section class="block block--skewed-left--black block--shadow">
      <div
        style="
          min-height: 50vh;
          display: flex;
          justify-content: center;
          align-items: center;
        "
        class="container container--primary"
      >
        <div class="input-group">
          <input
            style="text-align-last: center"
            class="input"
            type="file"
            placeholder="Select a file"
          />
          <button class="btn">CheckMetaData</button>
        </div>
      </div>
    </section>
  </body>
</html>
